@tailwind base;
@tailwind components;
@tailwind utilities;


input {
    color: rgb(107 114 128);
    background-color: white;
}

input::file-selector-button {
    color: white;
    background-color: rgb(59 130 246);
    border: none;
    padding: .5rem;
}

